footer {
    color: white;
    background-color: darken($main__background_color, 70%);
    padding: 1.5em 0;
    max-height: 13em;
    h3 {
        font-size: $h3_size;
        font-weight: $h3_weight;
        margin: 0 1.3em 1.5em;
    }
    ul {
        padding-left: 1.5em;
        li {
            margin-bottom: .5em;
        }
    }
    a {
        color: white;
    }
    .fa-utensils {
        font-size: 13px;
        margin-right: 1em;
    }
    .fa-hands-helping {
        font-size: 11px;
        margin-right: .8em;
    }
}