.operation {
    width: 90%;
    margin: auto;
    padding: 3em 0;
    &__card {
        height: 4.5em;
        margin-bottom: .5em;
        display: flex;
        align-items: center;
        border-radius: 17px;
        margin-left: 5%;
        padding-left: 4.5em;
        @include main_boxshadow;
        background-color: lighten($main__background_color, 4%);    
    }
    .purple {
        background-color: lighten($Primary_color, 33%);    
    }
    span {
        margin-right: 1.2em;
        padding: 2px 7px;
        border: solid 1px $Primary_color;
        border-radius: 13px;
        color: white;
        background-color: $Primary_color;
        font-size: 0.9em;
    }
    span, .fas{
        position: relative;
        top: 45px;
        left: 5px;
    }
    .fa-mobile-alt {
        font-size: 20px;
    }
    .fas {
        color: grey;
    }
    .fas--purple{
        color: $Primary_color;
    }
}
h2 {
    @include title_typo;
    margin: 0 0 0.5em;
}