$main__background_color: #EAEAEA;

$Primary_color: #9356DC;
$Secondary_color: #FF79DA;
$Tertiary_color: #99E2D0;
$Button_bg : linear-gradient(to bottom, $Secondary_color, $Primary_color);

$title_size: 1.5em;
$title_weight: 700;

$h3_size: 1.1em;
$h3_weight: 400;

$txt_size: initial;
$txt_weight: 100;

$dur_fondu : 1.8s;

$breakpoints: (
    tablet: 700px,
    desktop: 1190px
)
