@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');
@import "./Base/shaping";
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Component/buttons";
@import "./Layout/loader";
@import "./Layout/header";
@import "./Layout/footer";
@import "./Pages/homepage";
@import "./Pages/menu";