.main_btn {
    border: none;
    border-radius: 30px;
    color: white;
    background: $Button_bg;
    padding: 1em 1.5em;
    margin-top: 1em;
    cursor: pointer;
    @include main_boxshadow;
    &:hover {
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
        transition: 450ms ease-out;
    }
    &.order {
        width: 50%;
        max-width: 13em;
    }
}
.like {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.fa-heart {
    font-size: 20px;
    position: absolute;
}
.fa-heart.fas{
    font-size: 22px;
    color: transparent;
    background-clip: text;
    background-image: $Button_bg;
    opacity: 0;
    z-index: 1;
    &:hover {
        opacity: 1;
        transition: 400ms;
    }
}