.main_btn {
    border: none;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to bottom, $Secondary_color, $Primary_color);
    padding: 1em 1.5em;
    margin-top: 1em;
    @include main_boxshadow;
    &.order {
        width: 50%;
        margin: 1.5em 6em 0;
    }
}
.like {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.fa-heart {
    font-size: 20px;
    position: absolute;
}
.fa-heart.fas{
    font-size: 21px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to top, $Primary_color, $Secondary_color);
    opacity: 0;
    z-index: 1;
    &:hover {
        opacity: 1;
        transition: 300ms;
    }
}
/*.fa-heart.fas:hover + .fa-heart.far {
    opacity: 0;
}
.fa-heart.far {
    opacity: 1;
    &:hover + .fa-heart.fas{
        opacity: 0;
    }
}*/