#location {
    border: none;
    background-color: $main__background_color;
    width: 10em;
    text-align: center;
}
.description{
    &__place {
        background-color: $main__background_color;
        padding: 1em 0 .8em;
        .fas {
            position: relative;
            left: 15px;
        }
    }
    &__text {
        background-color: lighten($main__background_color, 4%);
        padding: 2em 0 3em;
    }
    h1{
        @include title_typo;
        margin: 0 2em .5em;
    }
    p{
        font-size: 1.1em;
        font-weight: 100;
    }
}
.operation {
    width: 90%;
    margin: auto;
    padding: 3em 0;
    @include desktop {
        padding-bottom: 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            align-items: center;
        }
        @include desktop {
            flex-direction: inherit;
        }
    }
    &__card {
        height: 4.5em;
        display: flex;
        align-items: center;
        border-radius: 17px;
        margin: 0 0 7% 5%;
        @include main_boxshadow;
        background-color: lighten($main__background_color, 4%);
        &:hover {
            background-color: lighten($Primary_color, 33%);
        }
        .fas {
            color: grey;
        }
        &:hover .fas {
            color: $Primary_color;
        }
        @include tablet {
            width: 30em;
        }
    }
    &__logo {
        width: 4.5em;
        position: relative;
        right: 13px;
    }
    h2 {
        margin: 0 0 0.5em;
        @include title_typo;
        @include tablet {
            margin-bottom: 2em;
        }
    }    
    span {
        margin-right: 1.2em;
        padding: 2px 7px;
        border: solid 1px $Primary_color;
        border-radius: 13px;
        color: white;
        background-color: $Primary_color;
        font-size: 0.9em;
    }
    .fa-mobile-alt {
        font-size: 20px;
    }
}
.restaurant {
    background-color: lighten($main__background_color, 4%);
    padding: 3em 0;
    h2 {
        @include title_typo;
        margin: 0 0 1em 5%;
    }
    &__container {
        @include tablet {
            display: flex;
            gap: 2em;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            margin: auto;
        }
        a {
            @include tablet {
                width: 45%;
            }
        }
        @include desktop {
            flex-wrap: nowrap;
        }
    }
    &__card {
        min-width: 17em;
        max-width: 25em;
        width: 90%;
        border-radius: 15px;
        margin: 0 auto 1em;
        @include main_boxshadow;
        @include tablet {
            width: 100%;
            margin: 0;
        }
        & img {
            height: 11em;
            width: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            object-position: 50% 65%;
        }
        &__description {
            display: flex;
            justify-content: space-between;
            padding: 4% 5% 4% 3%;
        }
        h4 {
            font-size: 1.1em;
            margin: 0 0 .2em;
        }
        p {
            @include txt_typo;
            margin: 0;
        }
        .new {
            position: relative;
            left: 5px;
            bottom: 175px;
            font-size: 14px;
            padding: 5px 8px;
            border-radius: 3px;
            background-color: $Tertiary_color;
            color: darken($Tertiary_color, 38%);
        }
        .like {
            top: 5px;
        }
        .fa-heart {
            right: 10px;
        }
        .fas {
            right: 9px;
            top: -1px;
        }
    }
}
