.menu {
    overflow: hidden;
    background-color: lighten($main__background_color, 4%);
    img {
        width: 100%;
        min-height: 15em;
        max-height: 22em;
        object-fit: cover;
        @include tablet {
            max-height: 30em;
        }
        @include desktop {
            max-height: 35em;
        }
    }
    &__topside {
        @include desktop {
            margin-left: 33%;
        }
    }
    &__entrees, &__plats, &__desserts {
        width: 90%;
        max-width: 25em;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        @include tablet {
            width: 80%;
            max-width: 35em;
        }
        @include desktop {
            width: 65%;
            max-width: 40em;
        }
    }
    &__page {
        position: relative;
        bottom: 3em;
        border-radius: 35px 35px 0 0;
        background-color: lighten($main__background_color, 4%);
        @include desktop {
            padding: 0 13%;
        }
    }
    &__card {
        overflow: hidden;
        cursor: pointer;
        display: flex;
        border-radius: 15px;
        background-color: white;
        height: 4em;
        @include main_boxshadow;
        @include tablet {
        }
        &:hover .fas{
            transform: rotate(-1turn);
        }
        &:hover .menu__animation {
            width: 5em;
        }
    }
    &__txt {
        width: 97%;
        padding: .7em;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        padding: 0 0.7em .7em 0;
    }
    &__animation{
        background-color: $Tertiary_color;
        border-radius: 0 15px 15px 0;
        width: 0em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 550ms;
        height: auto;
        .fas {
            transition: transform 900ms;
            font-size: 23px;
            color: white;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    .fa-heart{
        left: 305px;
        top: 9px;
        @include desktop {
            left: 320px;
        }
    }
    .fas.fa-heart {
        left: 316px;
        top: 7.3px;
        @include desktop {
            left: 331px;
        }
    }
    h3 {
        font-size: 1.7em;
        margin-left: .8em;
    }
    & .title {
        display: block;
        margin: 2em 0 0 1.4em;
        @include txt_typo;
        &::after {
            content: "";
            display: block;
            width: 2.4em;
            height: 0.2em;
            background-color: $Tertiary_color;
            position: relative;
            top: .2em;
        }
    }
    h4 {
        margin-bottom: .2em;
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;
        font-weight: 100;
    }
    .fondu {
        opacity: 0;
        animation: fondu $dur_fondu ease-out both;
        @for $i from 2 through 10 {
            &--#{$i} {
                animation-delay: $dur_fondu/8*$i;
            }
        }        
    }
}
@keyframes fondu {
    0% {
        transform: translateY(1.5em);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}