.restaurant--menu {
    background-color: lighten($main__background_color, 4%);
    img {
        width: 100%;
        height: 15em;
        object-fit: cover;
    }
    &__page {
        position: relative;
        bottom: 3em;
        border-radius: 35px 35px 0 0;
        background-color: lighten($main__background_color, 4%);
    }
    &__card {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 1em auto;
        padding: .7em;
        border-radius: 15px;
        background-color: white;
        @include main_boxshadow;
    }
    &__price {
        display: flex;
        align-items: flex-end;
    }
    .fa-heart{
        left: 305px;
        top: 9px;
    }
    .fas {
        left: 316.5px;
    }
    h3 {
        font-size: 1.7em;
        margin-left: .8em;
    }
    & .title {
        display: block;
        margin: 2em 0 0 1.4em;
        @include txt_typo;
        &::after {
            content: "";
            display: block;
            width: 2.4em;
            height: 0.2em;
            background-color: $Tertiary_color;
            position: relative;
            top: .2em;
        }
    }
    h4 {
        margin-bottom: .2em;
        font-size: 1.1em;
    }
    p {
        font-size: 0.9em;
        font-weight: 100;
    }
}